@import '../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.title {
  color: $color;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  margin-right: 20px;
}

.icon {
  width: 62px;
  height: 62px;
}
