@import '../../styles/mixin.scss';

.containerContainer {
  padding-bottom: 1.5rem;
  overflow-x: auto;
}
.container {
  @include mq('mobile') {
    position: relative;
    width: 40.25rem;
    margin-right: -15rem;
  }
}
