@import '../../styles/mixin.scss';

.containerContainer {
  padding-bottom: 1.5rem;
  overflow-x: auto;
}
.container {
  position: relative;
  @include mq('mobile') {
    width: 40.25rem;
    margin-right: -15rem;
  }
  @include mq('tablet') {
    width: 58.25rem;
    margin-left: 4rem;
  }
}
