@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';


.cardContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: center;

  @include mq('mobile') {
    flex-direction: column;
  }
}

.card {
  background-color:rgb(40, 48, 65);
  width: 360px;
  height: 180px;
  margin: 0 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mq('mobile') {
    margin-top: 20px;
    width: 340px;
  }
}

.title {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
}

.description {
  font-size: 24px;
  font-weight: $title-font-weight;
}

.cases {
  color: $tangerine-color;
}

.deaths {
  color: $red-color;
}

.recovered {
  color: $green-color;
}
